.container02 {
    border: 1px solid black;
    border-radius: 7px;
    width: 350px;
}
.container_User {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}
.form02{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn02{
    align-self: center;
}
.container_Info03{
    background-color: #e7f7e7;
    padding: 10px;
    font-weight: bold;
}