.container07{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header07, .nav07, .Article07, .menu07 {
    align-content: center;
}

.header07{
    background-color: #cad4e0;
    height: 70px;
}
.nav07{
    background-color: #9ca3af;
    height: 40px;
}
.containerMain{
    display: flex;
}
.menu07{
    width: 20%;
    background-color: #16a34a;
}
ul {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px; 
    margin: 0;
    gap: 20px;
    background-color: #fef2f2;
}

li {
    width: calc(15% - 11px); 
    list-style-type: none;
    padding: 20px; 
    background-color: white;
    border-radius: 8px;
    text-align: center; 
}
.Article07{
    width: 20%;
    background-color: #93c5fd;
}